# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg

# Virtual Environment
.venv/
env/
venv/

# Poetry
.poetry/
poetry.lock

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
